.header {
    font-family: 'Josefin Sans', sans-serif;
    background: #fff;
    .navbar-nav .nav-link {
        font-size: 18px;
        font-weight: bold;
        color: #101010;
        padding: 0 15px;

        a {
            color: #101010;
            text-decoration: none;
        }
    }
}